.test {
    margin-bottom: 113px
}

.test--main {
    margin: 0
}

.test__list-content {
    list-style: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.test__item {
    width: 31.7%;
    margin-right: 2.4%;
    margin-bottom: 70px;
    z-index: 5
}

.test__item:nth-child(3n) {
    margin-right: 0
}

.test__btn-more {
    text-align: center
}

@media (max-width:1023px) {
    .test__item {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 70px
    }

    .test__item:nth-child(2n) {
        margin-right: 0
    }

    .test__item:nth-child(3n) {
        margin-right: auto
    }

    .test__item--main {
        margin-bottom: 50px
    }
}

@media (max-width:767px) {
    .test__item {
        width: 100%;
        margin: 0 auto 20px
    }

    .test__item:nth-child(3n) {
        margin-right: 0
    }

    .test__item--main {
        margin-bottom: 30px
    }
}

.test-item {
    display: block;
    color: #00235e
}

.test-item:hover .test-item__image {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease
}
.test-item:hover .test__decoration-text{
    opacity: .5;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
}

.festival a:hover h3,
.test-item:hover .test-item__description {
    color: #00b4c6;
    -webkit-transition: color .6s ease;
    transition: color .6s ease
}

.test-item__inner {
    overflow: hidden;
    margin-bottom: 30px;
    height: 24vw;
    max-height: 300px
}

@media (max-width:1023px) {
    .test-item__inner {
        height: 35.5vw;
        max-height: 271px
    }
}

@media (max-width:767px) {
    .test-item__inner {
        min-height: 216px;
        margin-bottom: 20px;
        height: 64vw;
        max-height: 360px
    }
}

.test-item__image {
    height: 100%;
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease, -webkit-transform .6s ease
}

.test-item__date {
    position: relative;
    display: inline-block;
    padding: 2px 9px 2px 10px;
    border: 1px solid rgba(13, 30, 68, .15);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px
}

.test-item__date svg {
    margin-bottom: -.5px;
    margin-right: 6px
}

.test-item__description {
    color: #00235e;
    font-family: "Ubuntu", "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    -webkit-transition: color .6s ease;
    transition: color .6s ease;
    margin: 20px 0 0
}

@media (max-width:767px) {
    .test-item__description {
        margin-top: 26px
    }
}

@media (max-width:1023px) {
    .test-item__title {
        font-size: 18px
    }

    .test-item__description {
        font-size: 18px;
        line-height: 24px
    }

    .test-item__image {
        width: 100%
    }
}

.test__title {
    font-size: 22px;
    padding-top: 32px;
    margin: 0 0 22px;
    border-top: 1px solid rgba(13, 30, 68, .1);
}

.test__description {
    margin: 0 0 20px;
    font-size: 16px;
    color: #6b768c;
}
.test__decoration-text {
    position: relative;
    color: #00b4c6;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
}
.test__decoration-text svg{
    width: 12px;
    height: 12px;
    vertical-align: middle;
    fill: none;
}



.tests-page::before {
    content: "";
    position: absolute;
    width: 740px;
    min-height: 285px;
    top: -53px;
    right: 60%;
    background: url(/local/templates/DVIGA/assets/img/bg/dot-wave-gray-news.png) no-repeat;
    background-size: contain;
}






.test-questions {
    position: relative;
    max-width: 1440px;
    margin: 0 auto 120px
}

@media (max-width:1023px) {
    .test-questions {
        margin: 0 auto 49px
    }
}

@media (max-width:767px) {
    .test-questions {
        position: relative;
        margin: 0 auto 24px
    }
}
.test-questions.test-end .questions-number-main {
    opacity: 0;
    transition: opacity .4s linear;
}
.test-questions.test-end .test-questions__actions .test-questions__link-wrapper {
    display: none;
}

.test-questions__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 44px
}

@media (max-width:767px) {
    .test-questions__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        margin: 0 auto
    }
}

.test-questions__picture-wrapper {
    position: relative;
    width: 48.7%
}

@media (min-width:1024px) {
    .test-questions__picture-wrapper {
        height: 432px
    }
}

@media (max-width:1023px) {
    .test-questions__picture-wrapper {
        width: 42.5%;
        height: 215px
    }
}

@media (max-width:900px) {
    .test-questions__picture-wrapper {
        width: 100%;
        max-width: 420px;
        height: 183px;
        margin: 0 auto;
        margin-bottom: 66px;
    }
    .test-questions__inner {
        flex-wrap: wrap;
    }
}


.test-questions__picture-wrapper img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1
}

@media (max-width:1023px) {
    .test-questions__picture-wrapper img {
        width: 100%;
        height: 100%
    }
}
.test-questions__picture-wrapper {
    z-index: 2;
}
.test-questions__picture-wrapper::after {
    content: "";
    position: absolute;
    display: block;
    left: -15%;
    top: 25%;
    height: 86%;
    width: 97%;
    background-image: url('../../local/templates/DVIGA/assets/img/sight-fishes-desktop@1x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

@media (max-width:1023px) {
    .test-questions__picture-wrapper::after {
        height: 100%;
        left: -16%;
        top: 18%;
        width: 97%
    }
}

@media (max-width:767px) {
    .test-questions__picture-wrapper::after {
        height: 100%;
        top: 13%
    }
}

.test-questions__picture-wrapper--left {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2
}

@media (max-width:1023px) {
    .test-questions__picture-wrapper--left {
        margin-right: 5.8%;
        width: 48.8%
    }
}

@media (max-width:767px) {
    .test-questions__picture-wrapper--left {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        max-width: 420px;
        height: 183px;
        margin: 0 auto
    }
}

.test-questions-fishes-img {
    position: absolute;
    display: block;
    left: 17%;
    top: 24%;
    width: 100%;
    height: 86%;
    z-index: -1
}

@media (max-width:1023px) {
    .test-questions__picture-wrapper--left::after {
        height: 100%;
        left: 20%;
        top: 16%
    }
}

@media (max-width:767px) {
    .test-questions__picture-wrapper--left::after {
        height: 100%;
        left: -15%;
        top: 13%;
        width: 95%
    }
}

.test-questions__questions-wrapper {
    width: 51%;
    margin-right: 0;
    padding-left: 11%;
    position: relative;
}
@media (max-width:1100px) {
    .test-questions__questions-wrapper {
        width: 65%;
        margin-right: 0;
        padding-left: 50px;
        position: relative;
    }
}
@media (max-width:900px) {
    .test-questions__questions-wrapper {
        width: 100%;
    }
    .test-questions {
        margin-bottom: 30px;
    }
}
.test-questions.test-begin .questions-number_delimiter {
    display: inline-block;
}
.test-questions.test-begin .questions-number__total {
    display: inline-block;
}
.test-questions.test-begin .test-questions__main-picture {
    opacity: 0;
    transition: opacity .4s linear;
}
.test-questions.test-begin .questions-number__info {
    display: none;
}
.test-questions.test-begin  .questions-number__count {
    margin: auto;
}
.test-questions__questions {
   display: none;
}
.test-questions__result {
    display: none;
}

.test-questions__question {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    color: #0D1E44;
}
.test-questions__item {
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
}

.test-questions__item:hover .test-questions__item-question {
    border: 1px solid rgba(37, 50, 114, 0.1);
}
.test-questions__questions.answer-error .test-questions__item:hover .test-questions__item-question {
    border: 1px solid rgba(37, 50, 114, 0.05);
}
.test-questions__item-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    padding-top: 20px;
    position: absolute;
    left: -32px;
}
.test-questions__item.answer-error .test-questions__item-question{
    color: #F8A491;
}
.test-questions__item.answer-error .test-questions__item-question:after{
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    background: url('../../assets/images/svg/icon-error.svg') no-repeat;
    width: 18px;
    height: 18px;
    background-size: cover;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.test-questions__item.answer-right .test-questions__item-question{
    color: #00B4C6;
}
.test-questions__item.answer-right .test-questions__item-question:after{
    content: "";
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    background: url('../../assets/images/svg/icon-accept.svg') no-repeat;
    width: 20px;
    height: 20px;
    background-size: cover;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}
.test-questions__item-description {
    padding: 10px 14px 10px;
    color: #6B768C;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}
.test-questions__item-question {
    font-size: 16px;
    line-height: 32px;
    background: #FFFFFF;
    border: 1px solid rgba(37, 50, 114, 0.05);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 14px 16px;
    width: 100%;
    position: relative;
}
.test-questions__description {
    font-size: 18px;
    line-height: 35px;
    color: #6B768C;
}
.test-questions__description a {
    text-decoration: underline;
    color: #6b768c;
}
.test-questions__description a:hover {
    color: #00b4c6;
}
.test-questions__item-description a {
    text-decoration: underline;
    color: #6b768c;
}
.test-questions__item-description a:hover {
    color: #00b4c6;
}
@media(max-width: 1023px) {
    .test-questions__description {
        font-size: 16px;
    }
}
.test-questions__title {
    margin-top: 0;
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 40px;
}
@media(max-width: 1023px) {
    .test-questions__title, .test-questions__question {
        margin-top: 0;
        font-size: 20px;
        line-height: 28px;
    }
}
.test-questions__question-title {
    font-size: 32px;
    line-height: 42px;
    color: #0d1e44;
    font-weight: bold;
}
.test-questions__link-next-wrapper {
    margin-left: auto;
}
.test-questions__link-next-wrapper {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease
}
.test-questions__link-next-wrapper.active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

@media (max-width:767px) {
    .test-questions__questions-wrapper {
        width: 100%;
        padding-left: 0;
    }
    .test-questions__list {
        padding-left: 40px;
    }
    .test-questions__picture-wrapper {
        margin-bottom: 66px;
    }
}

@media (max-width:1023px) {
    .test-questions__info {
        padding-top: 0;
        padding-left: 8.4%;
        width: 57.3%;
        min-height: 240px
    }
}

@media (max-width:767px) {
    .test-questions__info {
        padding-left: 0;
        padding-top: 72px;
        width: 100%
    }
}

.test-questions__info {
    margin: 0;
    font-size: 18px;
    line-height: 35px;
    color: #6b768c;
    min-width: 300px
}

@media (max-width:1023px) {
    .test-questions__info {
        font-size: 14px;
        line-height: 24px
    }
}

@media (max-width:767px) {
    .test-questions__info {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 31px
    }
}

.test-questions__info--left {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    padding-left: 0;
    padding-right: 11%;
    padding-top: 64px
}

@media (max-width:1023px) {
    .test-questions__info--left {
        padding-top: 0;
        padding-right: 2.5%
    }
}

@media (max-width:767px) {
    .test-questions__info--left {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        padding-top: 73px
    }
}

.test-questions__info--island {
    padding-top: 58px
}

@media (max-width:1023px) {
    .test-questions__info--island {
        padding-top: 0
    }
}

@media (max-width:767px) {
    .test-questions__info--island {
        padding-top: 72px
    }
}

.test-questions__link-wrapper,
.test-questions__link-wrapper:hover {
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease
}

.test-questions__link-wrapper {
    background: #00b4c6;
    -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    border-radius: 30px;
    max-width: 35%;
    min-width: 148px;
    position: relative;
    text-align: center;
    margin-bottom: auto;
}
.test-questions__list {
    margin-bottom: 40px;
}
.test-questions__main-info {
    margin-bottom: 80px;
}
.test-questions__actions {
    display: flex;
    justify-content: space-between;
}
.test-questions__social {
    margin-left: auto;
}
.test-questions__social-description {
    color: #0D1E44;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 0;
}
@media(max-width: 500px) {
    .test-questions__social-description {
        font-size: 14px;
    }
}
.questions-number {
    background: #0D1E44;
    color: #FFF;
    width: 125px;
    height: 125px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.questions-number__count {
    margin-top: auto;
}
.questions-number_delimiter, .questions-number__total {
    display: none;
}
.questions-number__info {
    text-align: center;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: auto;
}
.questions-number__now {
    font-size: 45px;
    font-weight: bold;
}
.questions-number__info {
    font-size: 14px;
}
.questions-number_delimiter, .questions-number__total {
    font-size: 22px;
    font-weight: bold;
}

@media (max-width:1023px) {
    .test-questions__link-wrapper {
        max-width: 40%;
    }
}

@media (max-width:767px) {
    .test-questions__link-wrapper {
        max-width: 61%;
        margin: 0 auto;
        margin-bottom: auto;
    }
}

.test-questions__link-wrapper:hover {
    opacity: 50%
}


@media (max-width:1023px) {
    .test-questions__link-wrapper--left {
        margin-top: 29px
    }
}

.test-questions__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: #f8f8f8;
    display: block;
    padding: 19px 0
}
.bg_dark-blue {
    background-color: #0d1e44;
}
.test-questions__result {
    position: relative;
    margin-bottom: 60px;
}
.test-questions__result .questions-number__info {
    margin-top: auto;
    margin-bottom: 0;
}
.test-questions__result .questions-number__count {
    margin-top: 0;
    margin-bottom: auto;
}
.test-questions__result-top .questions-number {
    position: relative;
    margin-right: 27px;
    width: 98px;
    height: 98px;
}
.test-questions__result-top .questions-number_delimiter, .test-questions__result-top .questions-number__total {
    display: none !important;
}
.test-questions__result-top .questions-number__now {
    font-size: 28px;
    line-height: 30px;
}
.test-questions__result-top .questions-number_delimiter, .test-questions__result-top .questions-number__total {
    font-size: 16px;
    line-height: 30px;
}
.test-questions__result-top .questions-number__info {
    font-size: 14px;
    line-height: 15px;
}
.test-questions__result-top {
    margin-bottom: 30px;
    display: flex;
}
@media(max-width: 900px) {
    .test-questions__result-top {
        justify-content: center;
    }
}
.test-questions__result-title-wrapper {
    padding-top: 20px;
}
.test-questions__result-title {
    font-size: 14px;
    line-height: 22px;
    margin-top: 0;
    margin-bottom: 0;
}
.test-questions__result-text {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    margin-top: 0;
    margin-bottom: 0;
}
.test-questions__result-desc {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 40px;
    color: #6B768C;
}
.test-questions__result-actions {
    display: flex;
}
.test-questions__result-actions .test-questions__link-wrapper {
    margin-right: 20px;
}
@media(max-width: 900px) {
    .test-questions__result-actions .test-questions__link-wrapper {
        margin-right: auto;
    }
}
.test-questions__social-list {
    display: flex;
    justify-content: flex-end;
}
.test-questions__social-item{
   margin-left: 22px;
}
.test-questions__social-item svg path{
    fill: #6B768C;
    transition: fill .6s ease;
    transition: fill .6s ease,
    -webkit-transform .6s ease
}
.test-questions__social-item:hover svg path{
    fill: #00B4C6;
}

.test-questions__img-source {
    color: #0D1E44;
    font-size: 14px;
    line-height: 24px;
    margin-top: 62px;
}
@media(max-width: 900px) {
    .test-questions__img-source {
        margin-top: 22px;
    }
}
img.test-questions__changes-picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}



@media (max-width:1023px) {
    .test-questions__link {
        padding: 13px 0
    }
}

@media (max-width:767px) {
    .test-questions__link {
        padding: 14px 0;
        font-size: 12px;
        line-height: 18px
    }
}

.festival a:hover,
.test-questions__link:hover {
    cursor: pointer
}

.test-questions__text {
    position: absolute;
    max-width: 310px;
    left: 17.8%;
    bottom: -5.1%
}

@media (max-width:1023px) {
    .test-questions__text {
        left: 15.3%;
        bottom: -11.5%;
        max-width: 200px
    }
}

@media (max-width:767px) {
    .test-questions__text {
        max-width: 200px;
        left: 8.3%;
        bottom: -15.1%
    }
}

.test-questions__text span {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    background: #0d1e44;
    color: #fff;
    padding-bottom: 3px;
    padding-right: 6px
}

@media (max-width:1023px) {
    .test-questions__text span {
        font-size: 20px;
        line-height: 28px
    }
}

@media (max-width:767px) {
    .test-questions__text span {
        font-size: 20px;
        line-height: 24px
    }
}

.test-questions__text--left {
    left: 49.3%;
    bottom: -6.1%
}

@media (max-width:1023px) {
    .test-questions__text--left {
        left: 40.3%;
        bottom: -10.1%
    }
}

@media (max-width:767px) {
    .test-questions__text--left {
        left: 8.3%;
        bottom: -16%
    }
}

.test-questions__text--island {
    max-width: 155px
}

.test-questionss {
    margin-top: 86px;
    margin-bottom: 163px
}

@media (max-width:1023px) {
    .test-questionss {
        margin-top: 144px;
        margin-bottom: 120px
    }
}

@media (max-width:767px) {
    .test-questionss {
        margin-top: 83px;
        margin-bottom: 0
    }
}

.route__text h3,
.test-questionss h2 {
    font-weight: 700;
    color: #0d1e44
}

.test-questionss h2 {
    margin-bottom: 38px;
    font-size: 32px;
    line-height: 42px
}

@media (max-width:1023px) {
    .test-questionss h2 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 45px
    }
}

@media (max-width:767px) {
    .test-questionss h2 {
        margin-bottom: 27px
    }
}