.header .search__wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -48px;
  padding: 0 60px;
  z-index: 20;
}

.search__wrapper {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1380px;
}

.search__input {
  background-color: #EEF0FA;
  outline: none;
  height: 48px;
  border: none;
  display: flex;
  width: calc(100% - 126px);
  padding: 0 25px;
  font-size: 16px;
  line-height: 32px;
  color: #0d1e44;
}

.search__button {
  height: 48px;
  min-width: 126px;
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  background-color: #00B4C6;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
  outline: none
}

.search__button:hover {
  background-color: #0397a5;
}

.header__search {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width:767px) {
  .search__wrapper {
    padding: 0 !important;
  }

  .searchFrase {
    flex-direction: column;
  }
}

[v-cloak] {
  display: none !important;
}

.opacity-enter-active,
.opacity-leave-active {
  transition: opacity .5s;
}

.opacity-enter,
.opacity-leave-to

/* .opacity-leave-active до версии 2.1.8 */
  {
  opacity: 0;
}

.header--dark .header__search {
  stroke: #fff;
  fill: #fff;
  margin: 0 10px;
}

.header--dark.header--open .header__search {
  stroke: #0d1e44;
  fill: #0d1e44;
  margin: 0 10px;
}

.header__search {
  stroke: #0d1e44;
  fill: #0d1e44;
  margin: 0 10px;
}

.container_search {
  position: relative;
  z-index: 1;
}

.d-flex {
  display: flex;
}

.fz-45 {
  font-size: 45px;
}

.fz-24 {
  font-size: 24px;
}

.fz-22 {
  font-size: 22px;
}

.fwb {
  font-weight: bold;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.mb-6 {
  margin-bottom: 60px;
}

.text-dark {
  color: #0D1E44;
}

.flex-wrap {
  flex-wrap: wrap;
}

.resultItem {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(37, 50, 114, 0.1);
}

.flex-column {
  flex-direction: column;
}

.resultsItem__readMore {
  color: #00B4C6;

}

#svgmap {
  width: 100%;
  fill: #dbe0e9;
  position: relative;
}

#svgmap .active {
  fill: #00b4c6;
  cursor: pointer;
}

.mapLink {
  font-size: 16px;
  line-height: 32px;
  color: #6B768C;
}

.mapLink.active {
  color: #00b4c6;
}

path {
  -webkit-transition: fill 0.25s ease !important;
  transition: fill 0.25s ease !important;

}


g {
  outline: none !important;
}


.map__rightInner {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.regionMap {
  position: relative;
  z-index: 1;
  flex-wrap: wrap;
  margin-bottom: 70px;
}

.map__left {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.map__center {
  display: flex;
}

.map__right {
  display: flex;
  flex-direction: column;

}

@media (min-width:768px) {
  #svgmap {
    top: -50px;
  }

  .map__left {
    flex: 0 25%;
  }

  .map__center {
    flex: 0 50%;
  }

  .map__right {
    flex: 0 25%;
    align-items: flex-end;
  }
}

@media (max-width:768px) {
  .map__left {
    flex: 0 100%;
    order: 1;
  }

  .map__center {
    flex: 0 100%;
    order: 3;
  }

  .map__right {
    flex: 0 100%;
    order: 2;
  }
}

.sightCard__image {
  padding-top: 67%;
  margin-bottom: 22px;
  background-size: cover;
  background-position: 50% 50%;
}

.sightCard__adres {
  font-size: 14px;
  line-height: 22px;
  color: #0D1E44;
  margin-bottom: 10px;
}

.sightCard__title {
  font-size: 22px;
  line-height: 28px;
  color: #0D1E44;
  font-weight: bold;
}

.sightCard__icon {
  margin-right: 5px;
}

.sight__titleRow {
  margin-top: 15px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width:768px) {
  .sight__titleRow {
    justify-content: flex-end;
    margin-bottom: 10px;
  }
}

.sight__title {
  font-size: 32px;
  line-height: 36px;
  color: #0D1E44;
  font-weight: bold;
}

.sightSlider {
  margin-bottom: 100px;
}

.sight__sliderNav {
  display: flex;
  padding: 10px 0;
}

.sight__sliderNav_prev {
  display: flex;
  margin-right: 5px;
}

.sight__sliderNavItem {
  cursor: pointer;
  outline: none;
  width: 36px;
  height: 36px;
  min-width: 36px;
  min-height: 36px;
  border: 1px solid rgba(13, 30, 68, 0.1);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.sight__sliderNavItem:hover {
  background-color: #0D1E44;
}

.sight__sliderNavItem:hover svg {
  stroke: #FFFFFF;
}

.sight__sliderNavItem svg {
  transition: 0.2s ease-in-out;
  stroke: #0D1E44;
}

.align-items-center {
  align-items: center;
}

.slider-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

[data-tooltip]::after {
  content: attr(data-tooltip);

}